body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}

.container-topo {
    border: 5px solid black;
    text-align: center;
    margin-bottom: 30px;
}

.container-topo img {
    width: 180px;
    margin-top: 20px;
}

h1 {
    color: white;
    font-size: 25px;
    margin-top: 40px;
    font-weight: bold;
}

.container-perfis {
    border: 5px solid black;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    text-align: center;
}

p {
    color: gray;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.container-perfis img {
    border-radius: 10px;
    max-width: 150px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    text-align: center;
    margin: 10px;
}

.container-perfis img:hover {
    border: 2px solid white;
}

.container-perfis img:hover + p {
    color: white;
}

.button-container {
    border: 5px solid black;
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    border-radius: 8px;
    border-color: white;
    font-size: 13px;
    width: 180px;
    height: 45px;
}

button:hover {
    background-color: white;
    color: black;
    border-color: black;
}
